body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* Styling for landing layout */
.landing {
  width: 100%;
  height: 100vh;
  display: grid;
  grid:
    " header "
    " main "
    " footer ";
  grid-template-columns: 1fr;
  grid-template-rows: 15% 85% 200px;
  gap: 0px;
}

/* Styling for home layout */
.home {
  width: 100%;
  height: 100vh;
  display: grid;
  grid:
    " header header "
    " main chat "
    " footer footer ";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15% 85% 200px;
  gap: 0px;
}

/* Styling for home layout */
.game {
  width: 100%;
  height: 100vh;
  display: grid;
  grid:
    " header header "
    " main chat "
    " footer footer ";
  grid-template-columns: 2fr 0.75fr;
  grid-template-rows: 15% 85% 200px;
  gap: 0px;
}

.header {
  grid-area: header;
  background-color: #181818;
}

.main {
  grid-area: main;
  background-color: rgb(235, 158, 223);
}

.chat {
  grid-area: chat;
  background-color: rgb(252, 203, 180);
}

.footer {
  grid-area: footer;
  background-color: rgb(168, 230, 177);
}

img[alt="stun-logo"] {
  padding-top: 15px;
}