body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header {
  grid-area: header;
  background-color: #181818;
}

.main {
  grid-area: main;
  background-color: rgb(235, 158, 223);
}

.chat {
  grid-area: chat;
  background-color: rgb(252, 203, 180);
}

.footer {
  grid-area: footer;
  background-color: rgb(168, 230, 177);
}

img[alt="stun-logo"] {
  padding-top: 15px;
}