<form method="POST" action="/auth/login">
    <h1>Log In</h1>
    <input placeholder="Username" name="username">
    <input type="password" placeholder="Password" name="password">
    <button type="submit" value="login">Log In</button>
</form>