<form method="POST" action="/auth/register">
    <h1>Sign Up</h1>
    <input placeholder="Username" name="username">
    <input type="password" placeholder="Password" name="password">
    <input type="email" placeholder="Email" name="email">
    <button type="submit" value="register">Sign Up</button>
</form>