<div class="form-container">
  <span class="title"><h3>Register</h3>
  <hr />
  <div class="row">
    <form action="/signup" method="POST">
      <div class="user-details2">
        <div class="input-box">
          <span class="fields">Username*</span>
          <input
            type="text"
            id="username"
            name="username"
            required
            placeholder="Username"
          />
        </div>
        <div class="input-box">
          <span class="fields">Password*</span>
          <input
            type="password"
            id="password"
            name="password"
            required
            placeholder="Password"
          />
        </div>
        <div class="input-box">
          <span class="fields">Confirm Password*</span>
          <input
            type="password"
            id="password"
            name="confpassword"
            required
            placeholder="Confirm Password"
          />
        </div>
      </div>
    <div class="register-btn">
        <input type="submit" value="Create Account">
         </div>
    </form>
  </div>
</div>